@mixin container {
  background-color: $backround-color;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  padding-bottom: 5vh;
}

@mixin head-container ($height) {
  height: $height;
  background:linear-gradient($backround-color 55%, rgba(47,200,163, .2));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 90px 90px;
  z-index: 1;
}

@mixin headline {
  color: $button-text-color;
  font: {
    size: 15vw;
    weight: 700;
  }
}

@mixin headline2 {
  color: $button-text-color;
  font: {
    size: 12vw;
    weight: 600;
  }
}

@mixin headline3 {
    color: $button-text-color;
    z-index: 1;
    font: {
        size: 7vw;
        weight: 400;
    };
}

@mixin headline4 {
  color: $button-text-color;
  z-index: 1;
  border-bottom: 2px solid $button-text-color;
  margin-bottom: 4vh;
  font: {
    size: 6vw;
    weight: 800;
  }
}

@mixin headline5 {
  color: $button-text-color;
  z-index: 1;
  margin-bottom: 3%;
  font: {
    size: 5vw;
    weight: 400;
  }
}

@mixin p {
  color: $button-text-color;
  z-index: 1;
  font: {
    size: 3vw;
  }
}

@mixin inner-container {
  height: auto;
  width: 90%;
  margin: auto;
  text-align: center;
  position: relative;
  margin-top: 2vh;
  z-index: 1;
}

@mixin row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin select {
    @extend input;
}

@mixin card ($width, $height) {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $width;
  height: $height;
  padding: 15px;
  margin-top: 3vh;
  transition: all 0.3s ease;
  z-index: 2;
}

//inputs
@mixin input {
    border: none;
    border-bottom: 2px solid $font-color;
    padding: 5px;
    width: 90%;
    margin: auto;
    background-color: transparent;
    color: $button-text-color;
    z-index: 1;
    transition: all 0.3s ease;
    font: {
      size: 3vh;
    }
}

@mixin button ($padding) {
  background-color: $button-backround-color;
  color: #fff;
  border:none;
  border-radius: 10px;
  padding: $padding;
  z-index: 1;
  font: {
    weight: 600;
  }
}

@mixin pilot-detail($width, $height) {
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: $width;
  height: $height;
  padding: 15px;
  transition: all 0.3s ease;
  z-index: 2;
}

@mixin down-menu {
  background-color: $font-color;
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0%;
  z-index: 2;
}
