@import "mixins";
@import "variables";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// Registration Page

.container {
  @include container;
}

#pilot-image {
  position: absolute;
  height: 90%;
  left: 10%;
  opacity: 0.3;
}

h1 {
  @include headline;
}

h2 {
  @include headline2;
}

h3 {
  @include headline3;
}

h4 {
  @include headline4;
}

h5 {
  @include headline5;
}

p {
  @include p;
}

header {
  @include head-container(18vh);
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: 5vh;
  z-index: 1;
}

select {
  @include select;
}

input {
  @include input;
}

input:focus {
  outline: none;
  transform: scale(1.04);
}

#submit-button {
  @include button(15px);
}

button {
  @include button(5px);
}

// Main Page

.info-panel {
  @include head-container(30vh);
}

.inner-container {
  @include inner-container;
}

.row {
  @include row;
}

.card {
  @include card(30%, 20vh);
}

.card:focus {
  outline: none;
  transform: scale(1.04);
}

.card img {
  width: 60%;
}

#background-main {
  position: fixed;
  bottom: 0%;
  width: 130%;
  opacity: 0.4;
}

// Pilot Page

.card-pilot {
  @include card(100%, auto);
}

#bckgrnd-pilot {
  position: fixed;
  right: -5%;
  top: 10%;
  height: 100%;
  opacity: 0.4;
}

//Pilot detail

.pilot-detail-container {
  @include pilot-detail(90%, auto);
  margin: auto;
}