* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #F3F5F5;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  padding-bottom: 5vh;
}

#pilot-image {
  position: absolute;
  height: 90%;
  left: 10%;
  opacity: 0.3;
}

h1 {
  color: #02292C;
  font-size: 15vw;
  font-weight: 700;
}

h2 {
  color: #02292C;
  font-size: 12vw;
  font-weight: 600;
}

h3 {
  color: #02292C;
  z-index: 1;
  font-size: 7vw;
  font-weight: 400;
}

h4 {
  color: #02292C;
  z-index: 1;
  border-bottom: 2px solid #02292C;
  margin-bottom: 4vh;
  font-size: 6vw;
  font-weight: 800;
}

h5 {
  color: #02292C;
  z-index: 1;
  margin-bottom: 3%;
  font-size: 5vw;
  font-weight: 400;
}

p {
  color: #02292C;
  z-index: 1;
  font-size: 3vw;
}

header {
  height: 18vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, #F3F5F5), to(rgba(47, 200, 163, 0.2)));
  background: linear-gradient(#F3F5F5 55%, rgba(47, 200, 163, 0.2));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 0px 90px 90px;
  z-index: 1;
}

.register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  margin-top: 5vh;
  z-index: 1;
}

input, select {
  border: none;
  border-bottom: 2px solid #205246;
  padding: 5px;
  width: 90%;
  margin: auto;
  background-color: transparent;
  color: #02292C;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 3vh;
}

input:focus, select:focus {
  outline: none;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

#submit-button {
  background-color: #2FC8A3;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  z-index: 1;
  font-weight: 600;
}

button {
  background-color: #2FC8A3;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px;
  z-index: 1;
  font-weight: 600;
}

.info-panel {
  height: 25vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, #F3F5F5), to(rgba(47, 200, 163, 0.2)));
  background: linear-gradient(#F3F5F5 55%, rgba(47, 200, 163, 0.2));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 0px 90px 90px;
  z-index: 1;
}

.inner-container {
  height: auto;
  width: 90%;
  margin: auto;
  text-align: center;
  position: relative;
  margin-top: 2vh;
  z-index: 1;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 20vh;
  padding: 15px;
  margin-top: 3vh;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
}

.card:focus {
  outline: none;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.card img {
  width: 70%;
}

#background-main {
  position: fixed;
  bottom: 0%;
  width: 130%;
  opacity: 0.4;
}

.card-pilot {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding: 15px;
  margin-top: 3vh;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
}

#bckgrnd-pilot {
  position: fixed;
  right: -5%;
  top: 10%;
  height: 100%;
  opacity: 0.4;
}

.pilot-detail-container {
  border: 1px solid #000;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: auto;
  padding: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
  margin: auto;
}

.down-menu {
  background-color: #205246;
  height: 12%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0%;
  z-index: 2;
  border-radius: 10px 10px 0px 0px;
}

#bckgrnd-airplane {
  position: fixed;
  top: 15%;
  height: 90%;
  opacity: 0.4;
}
/*# sourceMappingURL=App.css.map */